/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
  font-family: sans-serif, "helvetica";
  text-transform: capitalize;
}

#container {
  line-height: 34px;
  width: 70vw;
  max-width: 70ch;
  margin-top: 30vh;
  cursor: pointer;
  font-size: 22px;
  font-family: serif, times;
  text-transform: lowercase;
}